/*body {
    background-color: $color;
}*/
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #F2F2F2;
  min-height: 1000px;
  font-size: 16px;
}

#wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  min-height: 1000px;
}

aside {
  background-color: #536473;
  display: inline-block;
  flex: 13%;
}

main {
  display: inline-block;
  /* margin-left: 10px;
      margin-right: 10px;*/
  flex: 85%;
  background-color: #536473;
  opacity: 0.8;
  color: #F2F2F2;
  /* font-size: 20px;*/
}
main.bg {
  background-image: url("../img/horse-paint_dark2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /*background-size: 100% 100%;*/
  opacity: 1;
}

figure {
  position: relative;
  display: block;
  margin: auto;
  width: 100%;
  overflow: hidden;
  min-height: 200px;
}

.me {
  width: 100%;
}

/*.cats {
    width: 100%;
}*/
h2 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #AFF24B;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 0;
  text-transform: uppercase;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
  background-color: #536473;
  opacity: 0.6;
  margin-bottom: auto;
  text-align: center;
  letter-spacing: 0.5px;
}

h3 {
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

nav {
  height: 70%;
}

ul#menu {
  text-transform: uppercase;
  color: #010B40;
  list-style: none;
  padding: 10px 10px;
}

li.personal-list {
  line-height: 1em;
  margin-bottom: 15px;
}
li.nav {
  margin: 10% 10%;
  font-weight: bold;
  border: 1px solid #010B40;
  padding: 10px 10px;
  text-align: left;
  background-color: #AFF24B;
  opacity: 0.7;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 400ms;
}
li.nav:hover {
  transform: scale(1.15);
  opacity: 1;
}

.fa-phone,
.fa-map-marker-alt,
.fa-at,
.fa-palette,
.fa-mobile-alt,
.fa-eye,
.fa-laptop {
  font-size: 30px;
  color: #AFF24B;
}

.fa-images {
  font-size: 80px;
  color: #AFF24B;
}

header {
  /*text-align: center;*/
  text-transform: capitalize;
  font-weight: 900;
  font-size: 25px;
  padding-top: 3%;
}
header#index-title {
  padding-top: 20%;
  padding-left: 10%;
  text-align: left;
}

.lname {
  color: #AFF24B;
  -webkit-text-stroke: 2px #536473;
}

a {
  color: #010B40;
  text-decoration: none;
}

a:active,
a:hover {
  text-decoration: underline;
}

#services,
#testimonial,
#clients,
#contact-details,
#portfolio {
  /*color: $bgcolor;
      font-size: 20px;
      width: 80%;
      margin: 8% 8%;
      text-align: justify;
      border: 2px solide white;*/
  color: #F2F2F2;
  /*font-size: 20px;*/
  text-align: justify;
  border: 2px solid white;
  display: inline-block;
  padding: 3%;
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  margin: auto;
}

.about-title {
  width: 100%;
}

.services,
.testimonial,
.clients {
  width: 23%;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  margin: auto;
}

.contact-details {
  width: 30%;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  margin: auto;
}

.portfolio {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  margin: auto;
  width: 45%;
}

/*.text,
    .personal {
        color: $bgcolor;
        font-size: 20px;
        text-align: justify;
        border: 2px solid white;
        display: inline-block;
        padding: 15px;

    @include section-base();
}
*/
.personal {
  vertical-align: top;
  width: 28%;
  color: #F2F2F2;
  /*font-size: 20px;*/
  text-align: justify;
  border: 2px solid white;
  display: inline-block;
  padding: 3%;
}

.text {
  width: 55%;
  color: #F2F2F2;
  /*font-size: 20px;*/
  text-align: justify;
  border: 2px solid white;
  display: inline-block;
  padding: 3%;
}

#active {
  transform: scale(1.15);
  opacity: 1;
}

ul#personal {
  list-style-type: none;
}

.ptitle {
  font-weight: bold;
  border-bottom: 2px solid #AFF24B;
}

h1 {
  color: #AFF24B;
}
h1.h1-left {
  text-align: left;
}

h3 {
  color: #AFF24B;
  text-align: center;
}

#fname {
  color: #F2F2F2;
  -webkit-text-stroke: 2px #8BBF56;
}

#index-webdev {
  -webkit-text-stroke: 2px #8BBF56;
}

#contactform {
  color: #F2F2F2;
  /*font-size: 20px;*/
  text-align: justify;
  border: 2px solid white;
  display: inline-block;
  padding: 3%;
  width: 90%;
  margin: auto;
}

.mainpart {
  width: 90%;
  margin: 0 auto;
}

#name,
#email {
  padding: 15px;
  width: 40%;
  margin: 5px;
}

#message {
  padding: 15px;
  width: 95%;
  margin: 20px;
}

.input-text {
  width: 45%;
  padding: 15px 15px;
}

.input-textarea {
  width: 95%;
}

#button {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
